
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-award:before { content: '\e803'; } /* '' */
.icon-lock-filled:before { content: '\e804'; } /* '' */
.icon-arrows-cw:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-flash:before { content: '\e807'; } /* '' */
.icon-floppy:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-calendar-times-o:before { content: '\f273'; } /* '' */